.match{
   border: 1px solid var(--color-red);
   margin-bottom: 40px;
   color: var(--color-light);
   text-decoration: none;
   padding: 32px 16px;
   display: block;
   transition: all .3s;
   &:hover{
      box-shadow: 0px 1px 22px 1px rgba(237,29,36,0.4);
   }
   &__info{
      display: flex;
      justify-content: space-evenly;
      text-align: center;
      align-items: center;
      @include media-breakpoint-down(md){
         flex-wrap: wrap;
      }
   }
   &__team{
      max-width: 260px;
      width: 100%;
      @include media-breakpoint-down(md){
         max-width: 100%;
         width: auto;
      }
      .h4{
         @include media-breakpoint-down(md){
            display: none;
         }
      }
   }
   &__img{
      width: 80px;
      height: 85px;
      margin: 0 auto 16px;
      img{
         width: 100%;
         height: 100%;
         object-fit: contain;
      }
   }
   &__date{
      text-align: center;
      font-weight: 700;
      font-size: 16px;
      line-height: 152%;
      letter-spacing: 0.04em;
   }
   &__result{
      max-width: 160px;
      width: 100%;
      @include media-breakpoint-down(sm){
         max-width: 100%;
         order: -1;
         margin-bottom: 24px;
      }
      span{
         display: block;
         font-weight: 600;
         font-size: 16px;
         line-height: 120%;
         margin-top: 6px;
         color: var(--color-light);
      }
   }
}
.win{
   color:  var(--color-green);
}
.lose{
   color: var(--color-red);
}