<a href="#" class="match">
   <div class="match__date mb-6">
      32.KOLO, PONDĚLÍ 31.1.2022
   </div>
   <div class="match__info mb-8">
      <div class="match__team">
         <div class="match__img">
            <img src="images/ico/logo.svg" loading="lazy" alt="" />
         </div>
         <h2 class="h4">HC Slezan Opava</h2>
      </div>
      <div class="match__result h2 lose">
         1:3
         <span>
            (1:1, 2:0, 1:0)
         </span>
      </div>
      <div class="match__team">
         <div class="match__img">
            <img src="images/content/team-1.png" loading="lazy" alt="" />
         </div>
         <h2 class="h4">Ďáblové Ďáblové Ďáblové Nový Jičín</h2>
      </div>
   </div>
</a>