<section class="c-team-slider-section">
   <div class="container">
      <div class="js-players-slider">
         {% include "@components/player/player.twig" %}
         {% include "@components/player/player.twig" %}
         {% include "@components/player/player.twig" %}
         {% include "@components/player/player.twig" %}
      </div>
   </div>
</section>