<div class="c-match-detail decorate">
   <div class="c-match-detail__inner">
      <div class="c-match-detail__date mb-6">
         32.KOLO, PONDĚLÍ 31.1.2022
      </div>
      <div class="c-match-detail__info mb-8">
         <div class="c-match-detail__team">
            <div class="c-match-detail__img">
               <img src="images/ico/logo.svg" loading="lazy" alt="" />
            </div>
            <h2 class="h4">HC Slezan Opava</h2>
         </div>
         <div class="c-match-detail__result h2">
            4:1
            <span>
               (1:1, 2:0, 1:0)
            </span>
         </div>
         <div class="c-match-detail__team">
            <div class="c-match-detail__img">
               <img src="images/content/team-1.png" loading="lazy" alt="" />
            </div>
            <h2 class="h4">Ďáblové Ďáblové Ďáblové Nový Jičín</h2>
         </div>
      </div>
      <p class="mb-10">
         <strong>Branky a nahrávky:</strong> 20. Franek (Lehečka, Tomeček), 21. Gebauer, 22. Franek (Lehečka, Maliník), 60. Zdeněk – 2. Beránek (Vašenka, Věntus). Vyloučení: 5:4. Využití: 1:0. Rozhodčí: Rapák – Novotný, Bezděk
      </p>
      <div class="row">
         <div class="col-sm-6 mb-sm-0 mb-2">
            <p>
               Piták (Baldik) – Ficek, Šindelář (C), Věntus, Zapletal, Thiel, Kocián, Zouhar – Krupa, Beránek, Malina, Zelenka, Wolf (A), Peterka (A), Vašenka, Vojtovič, Římský, Häring, Buršík, Rousek. Trenér: Aleš Tomášek
            </p>
         </div>
         <div class="col-sm-6">
            <p>
               Šimonů (Galuška) – Váňa, Foltýn, Tomeček, Kleiner, Kožený, Holáň, Hruška – Zdeněk, Káňa, Maliník, Gebauer, Hilšer, Sluštík, Flok, Štefka, Franek, Lehečka (C), Kořenek, Konečný. Trenér: Kamil Gebauer
            </p>
         </div>
      </div>
   </div>
</div>