<section class="c-statistics-section py-8">
   <div class="container">
      <ul class="breadcrumbs">
         <li><a href="#">Homepage</a></li>
         <li><a href="#">A-tým</a></li>
         <li><span>Statistiky</span></li>
      </ul>
      <div class="header-section mb-10">
         <h1 class="h1">Statistiky</h1>
         <label class="o-select">
            <select class="js-select">
               <option>2021/22</option>
               <option value="">2020/21</option>
               <option value="">2019/20</option>
               <option value="">2018/19</option>
               <option value="">2017/18</option>
            </select>
          </label>
      </div>
      <div class="row mb-7 justify-content-between">
         <div class="col-lg-8">
            <h2 class="h3 mb-8">
               Brankáři
            </h2>
            <div class="o-content">
               <table>
                  <thead>
                     <tr>
                       <th><strong>#</strong></th>
                       <th><strong>Brankáři</strong></th>
                       <th>Z</th>
                       <th><strong>Min</strong></th>
                       <th>Stř</th>
                       <th>Ink</th>
                       <th><strong>Zás</strong></th>
                       <th>Prů</th>
                       <th>Úsp</th>
                     </tr>
                   </thead>
                   <tbody>
                      <tr>
                         <td><strong>#</strong></td>
                         <td><strong>Pavel Král</strong></td>
                         <td>Z</td>
                         <td><strong>Min</strong></td>
                         <td>Stř</td>
                         <td>Ink</td>
                         <td><strong>Zás</strong></td>
                         <td>Prů</td>
                         <td>Úsp</td>
                      </tr>
                      <tr>
                        <td><strong>#</strong></td>
                        <td><strong>Pavel Král</strong></td>
                        <td>Z</td>
                        <td><strong>Min</strong></td>
                        <td>Stř</td>
                        <td>Ink</td>
                        <td><strong>Zás</strong></td>
                        <td>Prů</td>
                        <td>Úsp</td>
                     </tr>
                     <tr>
                        <td><strong>#</strong></td>
                        <td><strong>Pavel Král</strong></td>
                        <td>Z</td>
                        <td><strong>Min</strong></td>
                        <td>Stř</td>
                        <td>Ink</td>
                        <td><strong>Zás</strong></td>
                        <td>Prů</td>
                        <td>Úsp</td>
                     </tr>
                   </tbody>
               </table>
            </div>
         </div>
         <div class="col-lg-3">
            <ul class="c-statistics__descr">
               <li>
                  <strong>#</strong> - číslo dresu v posledním zápase (pro případ, že by se měnilo)
               </li>
               <li>
                  <strong>Z</strong> - počet zápasů, v nichž hráč nastoupil
               </li>
               <li>
                  <strong>Min</strong> - počet odchytaných minut
               </li>
               <li>
                  <strong>Stř</strong> - počet střel vyslaných na brankáře
               </li>
               <li>
                  <strong>Ink</strong> - počet inkasovaných gólů
               </li>
               <li>
                  <strong>Zás</strong> - počet zásahů
               </li>
               <li>
                  <strong>Prů</strong> - průměr gólů na zápas ( = inkasované góly / minuty/60 ) 
               </li>
               <li>
                  <strong>Úsp</strong> - úspěšnost zásahů ( = zásahy / střely ) 
               </li>
            </ul>
         </div>
      </div>
      <div class="row justify-content-between">
         <div class="col-lg-8">
            <h3 class="h3 mb-8">
               Hráči v poli
            </h3>
            <div class="o-content">
               <table>
                  <thead>
                     <tr>
                       <th><strong>#</strong></th>
                       <th><strong>Hráč v poli</strong></th>
                       <th>P</th>
                       <th><strong>Z</strong></th>
                       <th>G</th>
                       <th>A</th>
                       <th><strong>B</strong></th>
                       <th>+/-</th>
                       <th>TM</th>
                     </tr>
                   </thead>
                   <tbody>
                      <tr>
                         <td><strong>#</strong></td>
                         <td><strong><a href="#">František Kovalčík</a></strong></td>
                         <td>P</td>
                         <td><strong>Z</strong></td>
                         <td>G</td>
                         <td>A</td>
                         <td><strong>B</strong></td>
                         <td>+/-</td>
                         <td>TM</td>
                      </tr>
                      <tr>
                        <td><strong>#</strong></td>
                        <td><strong>František Kovalčík</strong></td>
                        <td>P</td>
                        <td><strong>Z</strong></td>
                        <td>G</td>
                        <td>A</td>
                        <td><strong>B</strong></td>
                        <td>+/-</td>
                        <td>TM</td>
                     </tr>
                     <tr>
                        <td><strong>#</strong></td>
                        <td><strong>František Kovalčík</strong></td>
                        <td>P</td>
                        <td><strong>Z</strong></td>
                        <td>G</td>
                        <td>A</td>
                        <td><strong>B</strong></td>
                        <td>+/-</td>
                        <td>TM</td>
                     </tr>
                     <tr>
                        <td><strong>#</strong></td>
                        <td><strong>František Kovalčík</strong></td>
                        <td>P</td>
                        <td><strong>Z</strong></td>
                        <td>G</td>
                        <td>A</td>
                        <td><strong>B</strong></td>
                        <td>+/-</td>
                        <td>TM</td>
                     </tr>
                     <tr>
                        <td><strong>#</strong></td>
                        <td><strong>František Kovalčík</strong></td>
                        <td>P</td>
                        <td><strong>Z</strong></td>
                        <td>G</td>
                        <td>A</td>
                        <td><strong>B</strong></td>
                        <td>+/-</td>
                        <td>TM</td>
                     </tr>
                     <tr>
                        <td><strong>#</strong></td>
                        <td><strong>František Kovalčík</strong></td>
                        <td>P</td>
                        <td><strong>Z</strong></td>
                        <td>G</td>
                        <td>A</td>
                        <td><strong>B</strong></td>
                        <td>+/-</td>
                        <td>TM</td>
                     </tr>
                     <tr>
                        <td><strong>#</strong></td>
                        <td><strong>František Kovalčík</strong></td>
                        <td>P</td>
                        <td><strong>Z</strong></td>
                        <td>G</td>
                        <td>A</td>
                        <td><strong>B</strong></td>
                        <td>+/-</td>
                        <td>TM</td>
                     </tr>
                     <tr>
                        <td><strong>#</strong></td>
                        <td><strong>František Kovalčík</strong></td>
                        <td>P</td>
                        <td><strong>Z</strong></td>
                        <td>G</td>
                        <td>A</td>
                        <td><strong>B</strong></td>
                        <td>+/-</td>
                        <td>TM</td>
                     </tr>
                     <tr>
                        <td><strong>#</strong></td>
                        <td><strong>František Kovalčík</strong></td>
                        <td>P</td>
                        <td><strong>Z</strong></td>
                        <td>G</td>
                        <td>A</td>
                        <td><strong>B</strong></td>
                        <td>+/-</td>
                        <td>TM</td>
                     </tr>
                     <tr>
                        <td><strong>#</strong></td>
                        <td><strong>František Kovalčík</strong></td>
                        <td>P</td>
                        <td><strong>Z</strong></td>
                        <td>G</td>
                        <td>A</td>
                        <td><strong>B</strong></td>
                        <td>+/-</td>
                        <td>TM</td>
                     </tr>
                   </tbody>
               </table>
            </div>
         </div>
         <div class="col-lg-3">
            <ul class="c-statistics__descr">
               <li>
                  <strong>#</strong> - číslo dresu v posledním zápase (pro případ, že by se měnilo) 
               </li>
               <li>
                  <strong>Z</strong> - počet zápasů, v nichž hráč nastoupil 
               </li>
               <li>
                  <strong>P</strong> - post (obránce nebo útočník)
               </li>
               <li>
                  <strong>Z</strong> - počet zápasů, v nichž hráč nastoupil 
               </li>
               <li>
                  <strong>G, A, B</strong> - góly, asistence, body
               </li>
            </ul>
         </div>
      </div>
   </div>
</section>
