<section class="c-team-section">
   <div class="container">
      <ul class="breadcrumbs">
         <li><a href="#">Homepage</a></li>
         <li><a href="#">A-tým</a></li>
         <li><span>Soupiska</span></li>
      </ul>
      <div class="header-section">
         <h1 class="h1">Soupiska A-tým</h1>
         <label class="o-select">
            <select class="js-select">
               <option>2021/22</option>
               <option value="">2020/21</option>
               <option value="">2019/20</option>
               <option value="">2018/19</option>
               <option value="">2017/18</option>
            </select>
          </label>
      </div>
      <div class="c-team__inner">
         <h2 class="h3 mb-4">Brankáři</h2>
         <div class="row g-6 mb-10">
            <div class="col-md-4 col-xl-3 col-sm-6">
               <a href="#" class="c-team__item">
                  <div class="c-team__item-img decorate">
                     <img src="images/content/clanek-1.jpg" loading="lazy" alt="">
                     <h3 class="h2">
                        Klára
                        <span>Hymlárová</span>
                     </h3>
                     <span class="c-team__item-number">32</span>
                  </div>
               </a>
            </div>
            <div class="col-md-4 col-xl-3 col-sm-6">
               <a href="#" class="c-team__item">
                  <div class="c-team__item-img decorate">
                     <img src="images/content/clanek-1.jpg" loading="lazy" alt="">
                     <h3 class="h2">
                        Klára
                        <span>Hymlárová</span>
                     </h3>
                     <span class="c-team__item-number">32</span>
                  </div>
               </a>
            </div>
            <div class="col-md-4 col-xl-3 col-sm-6">
               <a href="#" class="c-team__item">
                  <div class="c-team__item-img decorate">
                     <img src="images/content/clanek-1.jpg" loading="lazy" alt="">
                     <h3 class="h2">
                        Klára
                        <span>Hymlárová</span>
                     </h3>
                     <span class="c-team__item-number">32</span>
                  </div>
               </a>
            </div>
         </div>
         <h2 class="h3 mb-4">Obránci</h2>
         <div class="row g-6 mb-10">
            <div class="col-md-4 col-xl-3 col-sm-6">
               <a href="#" class="c-team__item">
                  <div class="c-team__item-img decorate">
                     <img src="images/content/clanek-1.jpg" loading="lazy" alt="">
                     <h3 class="h2">
                        Klára
                        <span>Hymlárová</span>
                     </h3>
                     <span class="c-team__item-number">32</span>
                  </div>
               </a>
            </div>
            <div class="col-md-4 col-xl-3 col-sm-6">
               <a href="#" class="c-team__item">
                  <div class="c-team__item-img decorate">
                     <img src="images/content/clanek-1.jpg" loading="lazy" alt="">
                     <h3 class="h2">
                        Klára
                        <span>Hymlárová</span>
                     </h3>
                     <span class="c-team__item-number">32</span>
                  </div>
               </a>
            </div>
            <div class="col-md-4 col-xl-3 col-sm-6">
               <a href="#" class="c-team__item">
                  <div class="c-team__item-img decorate">
                     <img src="images/content/clanek-1.jpg" loading="lazy" alt="">
                     <h3 class="h2">
                        Klára
                        <span>Hymlárová</span>
                     </h3>
                     <span class="c-team__item-number">32</span>
                  </div>
               </a>
            </div>
            <div class="col-md-4 col-xl-3 col-sm-6">
               <a href="#" class="c-team__item">
                  <div class="c-team__item-img decorate">
                     <img src="images/content/clanek-1.jpg" loading="lazy" alt="">
                     <h3 class="h2">
                        Klára
                        <span>Hymlárová</span>
                     </h3>
                     <span class="c-team__item-number">32</span>
                  </div>
               </a>
            </div>
            <div class="col-md-4 col-xl-3 col-sm-6">
               <a href="#" class="c-team__item">
                  <div class="c-team__item-img decorate">
                     <img src="images/content/clanek-1.jpg" loading="lazy" alt="">
                     <h3 class="h2">
                        Klára
                        <span>Hymlárová</span>
                     </h3>
                     <span class="c-team__item-number">32</span>
                  </div>
               </a>
            </div>
            <div class="col-md-4 col-xl-3 col-sm-6">
               <a href="#" class="c-team__item">
                  <div class="c-team__item-img decorate">
                     <img src="images/content/clanek-1.jpg" loading="lazy" alt="">
                     <h3 class="h2">
                        Klára
                        <span>Hymlárová</span>
                     </h3>
                     <span class="c-team__item-number">32</span>
                  </div>
               </a>
            </div>
         </div>
         <h2 class="h3 mb-4">Útočníci</h2>
         <div class="row g-6 mb-10">
            <div class="col-md-4 col-xl-3 col-sm-6">
               <a href="#" class="c-team__item">
                  <div class="c-team__item-img decorate">
                     <img src="images/content/clanek-1.jpg" loading="lazy" alt="">
                     <h3 class="h2">
                        Klára
                        <span>Hymlárová</span>
                     </h3>
                     <span class="c-team__item-number">32</span>
                  </div>
               </a>
            </div>
            <div class="col-md-4 col-xl-3 col-sm-6">
               <a href="#" class="c-team__item">
                  <div class="c-team__item-img decorate">
                     <img src="images/content/clanek-1.jpg" loading="lazy" alt="">
                     <h3 class="h2">
                        Klára
                        <span>Hymlárová</span>
                     </h3>
                     <span class="c-team__item-number">32</span>
                  </div>
               </a>
            </div>
            <div class="col-md-4 col-xl-3 col-sm-6">
               <a href="#" class="c-team__item">
                  <div class="c-team__item-img decorate">
                     <img src="images/content/clanek-1.jpg" loading="lazy" alt="">
                     <h3 class="h2">
                        Klára
                        <span>Hymlárová</span>
                     </h3>
                     <span class="c-team__item-number">32</span>
                  </div>
               </a>
            </div>
            <div class="col-md-4 col-xl-3 col-sm-6">
               <a href="#" class="c-team__item">
                  <div class="c-team__item-img decorate">
                     <img src="images/content/clanek-1.jpg" loading="lazy" alt="">
                     <h3 class="h2">
                        Klára
                        <span>Hymlárová</span>
                     </h3>
                     <span class="c-team__item-number">32</span>
                  </div>
               </a>
            </div>
            <div class="col-md-4 col-xl-3 col-sm-6">
               <a href="#" class="c-team__item">
                  <div class="c-team__item-img decorate">
                     <img src="images/content/clanek-1.jpg" loading="lazy" alt="">
                     <h3 class="h2">
                        Klára
                        <span>Hymlárová</span>
                     </h3>
                     <span class="c-team__item-number">32</span>
                  </div>
               </a>
            </div>
            <div class="col-md-4 col-xl-3 col-sm-6">
               <a href="#" class="c-team__item">
                  <div class="c-team__item-img decorate">
                     <img src="images/content/clanek-1.jpg" loading="lazy" alt="">
                     <h3 class="h2">
                        Klára
                        <span>Hymlárová</span>
                     </h3>
                     <span class="c-team__item-number">32</span>
                  </div>
               </a>
            </div>
            <div class="col-md-4 col-xl-3 col-sm-6">
               <a href="#" class="c-team__item">
                  <div class="c-team__item-img decorate">
                     <img src="images/content/clanek-1.jpg" loading="lazy" alt="">
                     <h3 class="h2">
                        Klára
                        <span>Hymlárová</span>
                     </h3>
                     <span class="c-team__item-number">32</span>
                  </div>
               </a>
            </div>
            <div class="col-md-4 col-xl-3 col-sm-6">
               <a href="#" class="c-team__item">
                  <div class="c-team__item-img decorate">
                     <img src="images/content/clanek-1.jpg" loading="lazy" alt="">
                     <h3 class="h2">
                        Klára
                        <span>Hymlárová</span>
                     </h3>
                     <span class="c-team__item-number">32</span>
                  </div>
               </a>
            </div>
            <div class="col-md-4 col-xl-3 col-sm-6">
               <a href="#" class="c-team__item">
                  <div class="c-team__item-img decorate">
                     <img src="images/content/clanek-1.jpg" loading="lazy" alt="">
                     <h3 class="h2">
                        Klára
                        <span>Hymlárová</span>
                     </h3>
                     <span class="c-team__item-number">32</span>
                  </div>
               </a>
            </div>
            <div class="col-md-4 col-xl-3 col-sm-6">
               <a href="#" class="c-team__item">
                  <div class="c-team__item-img decorate">
                     <img src="images/content/clanek-1.jpg" loading="lazy" alt="">
                     <h3 class="h2">
                        Klára
                        <span>Hymlárová</span>
                     </h3>
                     <span class="c-team__item-number">32</span>
                  </div>
               </a>
            </div>
            <div class="col-md-4 col-xl-3 col-sm-6">
               <a href="#" class="c-team__item">
                  <div class="c-team__item-img decorate">
                     <img src="images/content/clanek-1.jpg" loading="lazy" alt="">
                     <h3 class="h2">
                        Klára
                        <span>Hymlárová</span>
                     </h3>
                     <span class="c-team__item-number">32</span>
                  </div>
               </a>
            </div>
            <div class="col-md-4 col-xl-3 col-sm-6">
               <a href="#" class="c-team__item">
                  <div class="c-team__item-img decorate">
                     <img src="images/content/clanek-1.jpg" loading="lazy" alt="">
                     <h3 class="h2">
                        Klára
                        <span>Hymlárová</span>
                     </h3>
                     <span class="c-team__item-number">32</span>
                  </div>
               </a>
            </div>
            <div class="col-md-4 col-xl-3 col-sm-6">
               <a href="#" class="c-team__item">
                  <div class="c-team__item-img decorate">
                     <img src="images/content/clanek-1.jpg" loading="lazy" alt="">
                     <h3 class="h2">
                        Klára
                        <span>Hymlárová</span>
                     </h3>
                     <span class="c-team__item-number">32</span>
                  </div>
               </a>
            </div>
         </div>
      </div>
   </div>
</section>