.c-team {
  &__inner {
    margin-top: 48px;
    color: var(--color-light);
  }
}
.c-team-juniors-section {
  .player {
    &__img {
      background-color: #fff;
      display: flex;
      justify-content: center;

      img,
      svg,
      svg path {
        padding-top: 10px;
        width: 140px;
        height: 150px;
        object-fit: contain;
      }
      img {
        width: 180px;
        height: 180px;
        padding-top: 0;
      }
    }
  }
}
