<section class="c-team-section">
   <div class="container">
      <ul class="breadcrumbs">
         <li><a href="#">Homepage</a></li>
         <li><a href="#">A-tým</a></li>
         <li><span>Soupiska</span></li>
      </ul>
      <div class="header-section">
         <h1 class="h1">Soupiska A-tým</h1>
         <label class="o-select">
            <select class="js-select">
               <option>2021/22</option>
               <option value="">2020/21</option>
               <option value="">2019/20</option>
               <option value="">2018/19</option>
               <option value="">2017/18</option>
            </select>
          </label>
      </div>
      <div class="c-team__inner">
         <h2 class="h3 mb-4">Brankáři</h2>
         <div class="row g-6 mb-10">
            <div class="col-md-4 col-xl-3 col-sm-6">
               {% include "@components/player/player.twig" %}
            </div>
            <div class="col-md-4 col-xl-3 col-sm-6">
               {% include "@components/player/player.twig" %}
            </div>
            <div class="col-md-4 col-xl-3 col-sm-6">
               {% include "@components/player/player.twig" %}
            </div>
         </div>
         <h2 class="h3 mb-4">Obránci</h2>
         <div class="row g-6 mb-10">
            <div class="col-md-4 col-xl-3 col-sm-6">
               {% include "@components/player/player.twig" %}
            </div>
            <div class="col-md-4 col-xl-3 col-sm-6">
               {% include "@components/player/player.twig" %}
            </div>
            <div class="col-md-4 col-xl-3 col-sm-6">
               {% include "@components/player/player.twig" %}
            </div>
            <div class="col-md-4 col-xl-3 col-sm-6">
               {% include "@components/player/player.twig" %}
            </div>
            <div class="col-md-4 col-xl-3 col-sm-6">
               {% include "@components/player/player.twig" %}
            </div>
            <div class="col-md-4 col-xl-3 col-sm-6">
               {% include "@components/player/player.twig" %}
            </div>
         </div>
         <h2 class="h3 mb-4">Útočníci</h2>
         <div class="row g-6 mb-10">
            <div class="col-md-4 col-xl-3 col-sm-6">
               {% include "@components/player/player.twig" %}
            </div>
            <div class="col-md-4 col-xl-3 col-sm-6">
               {% include "@components/player/player.twig" %}
            </div>
            <div class="col-md-4 col-xl-3 col-sm-6">
               {% include "@components/player/player.twig" %}
            </div>
            <div class="col-md-4 col-xl-3 col-sm-6">
               {% include "@components/player/player.twig" %}
            </div>
            <div class="col-md-4 col-xl-3 col-sm-6">
               {% include "@components/player/player.twig" %}
            </div>
            <div class="col-md-4 col-xl-3 col-sm-6">
               {% include "@components/player/player.twig" %}
            </div>
            <div class="col-md-4 col-xl-3 col-sm-6">
               {% include "@components/player/player.twig" %}
            </div>
            <div class="col-md-4 col-xl-3 col-sm-6">
               {% include "@components/player/player.twig" %}
            </div>
            <div class="col-md-4 col-xl-3 col-sm-6">
               {% include "@components/player/player.twig" %}
            </div>
            <div class="col-md-4 col-xl-3 col-sm-6">
               {% include "@components/player/player.twig" %}
            </div>
            <div class="col-md-4 col-xl-3 col-sm-6">
               {% include "@components/player/player.twig" %}
            </div>
            <div class="col-md-4 col-xl-3 col-sm-6">
               {% include "@components/player/player.twig" %}
            </div>
            <div class="col-md-4 col-xl-3 col-sm-6">
               {% include "@components/player/player.twig" %}
            </div>
         </div>
      </div>
   </div>
</section>