.c-team {
  &__inner {
    margin-top: 48px;
    color: var(--color-light);
  }
}
.c-team-juniors-section {
  .player {
    &__img {
      background-color: var(--color-dark);
      display: flex;
      justify-content: center;

      img,
      svg,
      svg path {
        padding-top: 10px;
        width: 140px;
        height: 140px;
        object-fit: contain;
      }
      img {
        width: 180px;
        height: 180px;
        padding-top: 0;
        background-color: var(--color-dark);
      }
    }
  }
}

.shild-wrap {
  width: 300px;
  height: 200px;
  padding-left: 74px;
  svg {
    width: 100% !important;
    height: 100% !important;
  }
  g {
  }
  path,
  svg {
    fill: #fff;
  }
}
