<section class="c-players-slider-section">
   <div class="container">
      <div class="header-section mb-4">
         <h4 class="h1">
            Naši odchovanci
         </h4>
         <span class="header-section__subtitle">Vychovali jsme</span>
      </div>
      <div class=" c-players-slider-section__inner js-players-slider">
         {% include "@components/player/player.twig" %}
         {% include "@components/player/player.twig" %}
         {% include "@components/player/player.twig" %}
         {% include "@components/player/player.twig" %}
         {% include "@components/player/player.twig" %}
         {% include "@components/player/player.twig" %}
      </div>
      <a class="link link--border link--arrow" href="#">
         Všichni odchovanci
      </a>
   </div>
</section>