<section class="c-players-slider-section">
   <div class="container">
      <div class="header-section mb-4">
         <h4 class="h1">
            Naši odchovanci
         </h4>
         <span class="header-section__subtitle">Vychovali jsme</span>
      </div>
      <div class=" c-players-slider-section__inner">
         <a href="#" class="c-players-slider-section__item ">
            <div class="c-players-slider-section__img decorate">
               <img src="images/content/clanek-1.jpg" loading="lazy" alt="">
               <h5 class="h2">
                  Klára
                  <span>Hymlárová</span>
               </h5>
            </div>
         </a>
         <a href="#" class="c-players-slider-section__item ">
            <div class="c-players-slider-section__img decorate">
               <img src="images/content/clanek-1.jpg" loading="lazy" alt="">
               <h5 class="h2">
                  Klára
                  <span>Hymlárová</span>
               </h5>
            </div>
         </a>
         <a href="#" class="c-players-slider-section__item ">
            <div class="c-players-slider-section__img decorate">
               <img src="images/content/clanek-1.jpg" loading="lazy" alt="">
               <h5 class="h2">
                  Klára
                  <span>Hymlárová</span>
               </h5>
            </div>
         </a>
         <a href="#" class="c-players-slider-section__item ">
            <div class="c-players-slider-section__img decorate">
               <img src="images/content/clanek-1.jpg" loading="lazy" alt="">
               <h5 class="h2">
                  Klára
                  <span>Hymlárová</span>
               </h5>
            </div>
         </a>
         <a href="#" class="c-players-slider-section__item ">
            <div class="c-players-slider-section__img decorate">
               <img src="images/content/clanek-1.jpg" loading="lazy" alt="">
               <h5 class="h2">
                  Klára
                  <span>Hymlárová</span>
               </h5>
            </div>
         </a>
      </div>
      <a class="link link--border link--arrow" href="#">
         Všichni odchovanci
      </a>
   </div>
</section>