<section class="c-players-slider-section">
   <div class="container">
      <div class="header-section mb-4">
         <h4 class="h1">
            Naši odchovanci
         </h4>
         <span class="header-section__subtitle">Vychovali jsme</span>
      </div>
      {% include "@components/players-slider/players-slider.twig" %}
      <a class="link link--border link--arrow" href="#">
         Všichni odchovanci
      </a>
   </div>
</section>