<section class="c-player-detail-section">
   <div class="container">
      <div class="row">
         <div class="col-lg-6 pt-8">
            <ul class="breadcrumbs">
               <li><a href="#">Homepage</a></li>
               <li><a href="#">A-tým</a></li>
               <li><span>Soupiska</span></li>
            </ul>
            <div class="c-player-detail__info">
               <h1 class="h3">
                  brankář
               </h1>
               <div class="c-player-detail__name">
                  <div class="c-player-detail__number">32</div>
                  <h2 class="h2">
                     Klára
                     <span>Hymlárová</span>
                  </h2>
               </div>
            </div>
            <ul class="c-player-detail__specification decorate">
               <li>
                  <span>20. 2. 1993</span>
                  narozen
               </li>
               <li>
                  <span>185 cm</span>
                  výška
               </li>
               <li>
                  <span>84 kg</span>
                  váha
               </li>
            </ul>
         </div>
         <div class="col-lg-6">
            <div class="c-player-detail__img decorate">
               <img src="images/content/clanek-1.jpg" loading="lazy" alt="">
            </div>
         </div>
         <div class="col-lg-6 mb-4">
            <p>
               Jeden ze zásadních rébusů zimy trenér fotbalové Slavie Jindřich Trpišovský definitivně vyřešil. Ví, že za týden do prvního jarního kola proti Karviné vyšle na pozici levého obránce Srdjana Plavšiče. V generálce proti Baníku Ostrava, který červenobílí porazili 4:2, si tuhle myšlenku potvrdil. Srbský driblér dal jeden gól a na další dvě branky nahrál. „Předvedl výborný výkon,“ lebedil si Trpišovský.
            </p>
         </div>
         <div class="col-lg-6 mb-4">
            <p>
               Jeden ze zásadních rébusů zimy trenér fotbalové Slavie Jindřich Trpišovský definitivně vyřešil. Ví, že za týden do prvního jarního kola proti Karviné vyšle na pozici levého obránce Srdjana Plavšiče. 
            </p>
         </div>
      </div>
   </div>
</section>