blockquote{
   font-style: normal;
   font-weight: 400;
   font-size: 36px;
   line-height: 148.6%;
   margin: 48px 0;
   span{
     display: block;
     font-weight: 400;
     font-size: 18px;
     line-height: 148.6%;
     margin-top: 24px;
   }
 }