<section class="c-posts-section">
   <div class="container">
      <div class="row mb-sm-10 mb-5 g-6">
         <div class="col-sm-6 col-lg-4">
            <article class="post">
               <a href="#" class="post__link">
                  <div class="post__img">
                     <img src="images/content/clanek-3.jpg" loading="lazy" alt="">
                  </div>
                  <div class="post__info">
                     <div class="link pl-1 mb-3">1 . února 2022</div>
                     <h3 class="h4 mb-3">
                        Potřebujeme ustálit kádr, říká Roman West. Jak hodnotí podzim?
                     </h3>
                     <div class="link--arrow"></div>
                  </div>
               </a>
            </article>
         </div>
         <div class="col-sm-6 col-lg-4">
            <article class="post">
               <a href="#" class="post__link">
                  <div class="post__img">
                     <img src="images/content/clanek-3.jpg" loading="lazy" alt="">
                  </div>
                  <div class="post__info">
                     <div class="link pl-1 mb-3">1 . února 2022</div>
                     <h3 class="h4 mb-3">
                        Potřebujeme ustálit kádr, říká Roman West. Jak hodnotí podzim?
                     </h3>
                     <div class="link--arrow"></div>
                  </div>
               </a>
            </article>
         </div>
         <div class="col-sm-6 col-lg-4">
            <article class="post">
               <a href="#" class="post__link">
                  <div class="post__img">
                     <img src="images/content/clanek-3.jpg" loading="lazy" alt="">
                  </div>
                  <div class="post__info">
                     <div class="link pl-1 mb-3">1 . února 2022</div>
                     <h3 class="h4 mb-3">
                        Potřebujeme ustálit kádr, říká Roman West. Jak hodnotí podzim?
                     </h3>
                     <div class="link--arrow"></div>
                  </div>
               </a>
            </article>
         </div>
      </div>
      <a class="link link--border" href="#">
         Všechny články
      </a>
   </div>
</section>