<section class="c-partners-section">
   <div class="container">
      <div class="header-section mb-6">
         <h4 class="h1">
            Partneři
         </h4>
         <span class="header-section__subtitle">děkujeme</span>
      </div>
      <ul class="row g-5 c-partners-section__inner">
         <li class="  col-lg-2 col-md-4 col-6 ">
            <a target="_blank" href="#">
               <img src="https://via.placeholder.com/185x140" loading="lazy" alt="" />
            </a>
         </li>
          <li class="  col-lg-2 col-md-4 col-6 ">
            <a target="_blank" href="#">
              <img src="https://via.placeholder.com/185x140" loading="lazy" alt="" />
            </a>
         </li>
          <li class="  col-lg-2 col-md-4 col-6 ">
            <a target="_blank" href="#">
               <img src="https://via.placeholder.com/185x140" loading="lazy" alt="" />
            </a>
         </li>
         <li class=" col-lg-2 col-md-4 col-6 ">
            <a target="_blank" href="#">
                 <img src="https://via.placeholder.com/185x140" loading="lazy" alt="" />
            </a>
         </li>
          <li class="  col-lg-2 col-md-4 col-6 ">
            <a target="_blank" href="#">
                <img src="https://via.placeholder.com/185x140" loading="lazy" alt="" />
            </a>
         </li>
         <li class=" col-lg-2 col-md-4 col-6 ">
            <a target="_blank" href="#">
               <img src="https://via.placeholder.com/185x140" loading="lazy" alt="" />
            </a>
         </li>
         <li class="  col-lg-2 col-md-4 col-6 ">
            <a target="_blank" href="#">
               <img src="https://via.placeholder.com/185x140" loading="lazy" alt="" />
            </a>
         </li>
          <li class="  col-lg-2 col-md-4 col-6 ">
            <a target="_blank" href="#">
                <img src="https://via.placeholder.com/185x140" loading="lazy" alt="" />
            </a>
         </li>
         <li class="  col-lg-2 col-md-4 col-6 ">
            <a target="_blank" href="#">
               <img src="https://via.placeholder.com/185x140" loading="lazy" alt="" />
            </a>
         </li>
          <li class="  col-lg-2 col-md-4 col-6 ">
            <a target="_blank" href="#">
              <img src="https://via.placeholder.com/185x140" loading="lazy" alt="" />
            </a>
         </li>
          <li class="  col-lg-2 col-md-4 col-6 ">
            <a target="_blank" href="#">
               <img src="https://via.placeholder.com/185x140" loading="lazy" alt="" />
            </a>
         </li>
         <li class=" col-lg-2 col-md-4 col-6 ">
            <a target="_blank" href="#">
                 <img src="https://via.placeholder.com/185x140" loading="lazy" alt="" />
            </a>
         </li>
          <li class="  col-lg-2 col-md-4 col-6 ">
            <a target="_blank" href="#">
                <img src="https://via.placeholder.com/185x140" loading="lazy" alt="" />
            </a>
         </li>
         <li class=" col-lg-2 col-md-4 col-6 ">
            <a target="_blank" href="#">
               <img src="https://via.placeholder.com/185x140" loading="lazy" alt="" />
            </a>
         </li>
         <li class="  col-lg-2 col-md-4 col-6 ">
            <a target="_blank" href="#">
               <img src="https://via.placeholder.com/185x140" loading="lazy" alt="" />
            </a>
         </li>
          <li class="  col-lg-2 col-md-4 col-6 ">
            <a target="_blank" href="#">
                <img src="https://via.placeholder.com/185x140" loading="lazy" alt="" />
            </a>
         </li>
      </ul>
   </div>
</section>