<section class="c-partners-section">
  <div class="container">
    <div class="header-section mb-6">
      <h1 class="h1">Partneři</h1>
      <span class="header-section__subtitle">děkujeme</span>
    </div>
    <h2 class="h2 text-center mb-6">Hlavní partneři</h2>
    <ul class="row g-5 c-partners-section__inner justify-content-center">
      <li class="col-lg-4 col-sm-6 col-12">
        <a target="_blank" href="#">
          <img
            src="https://via.placeholder.com/400x300"
            loading="lazy"
            alt=""
          />
        </a>
      </li>

      <li class="col-lg-4 col-sm-6 col-12">
        <a target="_blank" href="#">
          <img
            src="https://via.placeholder.com/400x300"
            loading="lazy"
            alt=""
          />
        </a>
      </li>
      <li class="col-lg-4 col-sm-6 col-12">
        <a target="_blank" href="#">
          <img
            src="https://via.placeholder.com/400x300"
            loading="lazy"
            alt=""
          />
        </a>
      </li>
    </ul>
    <h3 class="h2 text-center mb-6">Partneři</h3>
    <ul class="row g-5 c-partners-section__inner justify-content-center">
      <li class="col-lg-2 col-md-4 col-6">
        <a target="_blank" href="#">
          <img
            src="https://via.placeholder.com/185x140"
            loading="lazy"
            alt=""
          />
        </a>
      </li>
      <li class="col-lg-2 col-md-4 col-6">
        <a target="_blank" href="#">
          <img
            src="https://via.placeholder.com/185x140"
            loading="lazy"
            alt=""
          />
        </a>
      </li>
      <li class="col-lg-2 col-md-4 col-6">
        <a target="_blank" href="#">
          <img
            src="https://via.placeholder.com/185x140"
            loading="lazy"
            alt=""
          />
        </a>
      </li>
      <li class="col-lg-2 col-md-4 col-6">
        <a target="_blank" href="#">
          <img
            src="https://via.placeholder.com/185x140"
            loading="lazy"
            alt=""
          />
        </a>
      </li>
      <li class="col-lg-2 col-md-4 col-6">
        <a target="_blank" href="#">
          <img
            src="https://via.placeholder.com/185x140"
            loading="lazy"
            alt=""
          />
        </a>
      </li>
      <li class="col-lg-2 col-md-4 col-6">
        <a target="_blank" href="#">
          <img
            src="https://via.placeholder.com/185x140"
            loading="lazy"
            alt=""
          />
        </a>
      </li>
      <li class="col-lg-2 col-md-4 col-6">
        <a target="_blank" href="#">
          <img
            src="https://via.placeholder.com/185x140"
            loading="lazy"
            alt=""
          />
        </a>
      </li>
      <li class="col-lg-2 col-md-4 col-6">
        <a target="_blank" href="#">
          <img
            src="https://via.placeholder.com/185x140"
            loading="lazy"
            alt=""
          />
        </a>
      </li>
      <li class="col-lg-2 col-md-4 col-6">
        <a target="_blank" href="#">
          <img
            src="https://via.placeholder.com/185x140"
            loading="lazy"
            alt=""
          />
        </a>
      </li>
      <li class="col-lg-2 col-md-4 col-6">
        <a target="_blank" href="#">
          <img
            src="https://via.placeholder.com/185x140"
            loading="lazy"
            alt=""
          />
        </a>
      </li>
      <li class="col-lg-2 col-md-4 col-6">
        <a target="_blank" href="#">
          <img
            src="https://via.placeholder.com/185x140"
            loading="lazy"
            alt=""
          />
        </a>
      </li>
      <li class="col-lg-2 col-md-4 col-6">
        <a target="_blank" href="#">
          <img
            src="https://via.placeholder.com/185x140"
            loading="lazy"
            alt=""
          />
        </a>
      </li>
      <li class="col-lg-2 col-md-4 col-6">
        <a target="_blank" href="#">
          <img
            src="https://via.placeholder.com/185x140"
            loading="lazy"
            alt=""
          />
        </a>
      </li>
      <li class="col-lg-2 col-md-4 col-6">
        <a target="_blank" href="#">
          <img
            src="https://via.placeholder.com/185x140"
            loading="lazy"
            alt=""
          />
        </a>
      </li>
      <li class="col-lg-2 col-md-4 col-6">
        <a target="_blank" href="#">
          <img
            src="https://via.placeholder.com/185x140"
            loading="lazy"
            alt=""
          />
        </a>
      </li>
      <li class="col-lg-2 col-md-4 col-6">
        <a target="_blank" href="#">
          <img
            src="https://via.placeholder.com/185x140"
            loading="lazy"
            alt=""
          />
        </a>
      </li>
    </ul>
  </div>
</section>
