<section class="c-table-section py-8">
  <div class="container">
    <ul class="breadcrumbs">
      <li><a href="#">Homepage</a></li>
      <li><a href="#">A-tým</a></li>
      <li><span>Tabulka</span></li>
    </ul>
    <div class="header-section mb-10">
      <h1 class="h1">Tabulka</h1>
      <label class="o-select">
        <select class="js-select">
          <option>2021/22</option>
          <option value="">2020/21</option>
          <option value="">2019/20</option>
          <option value="">2018/19</option>
          <option value="">2017/18</option>
        </select>
      </label>
    </div>
    <div class="row justify-content-between">
      <div class="col-lg-8">
        <div class="o-content">
          <table>
            <thead>
              <tr>
                <th><strong>P.</strong></th>
                <th><strong>Družstvo</strong></th>
                <th>z</th>
                <th><strong>v</strong></th>
                <th>vp</th>
                <th>pp</th>
                <th><strong>p</strong></th>
                <th>VB : IB</th>
                <th>+/-</th>
                <th>Body</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><strong>1.</strong></td>
                <td>
                  <strong><a href="#">HC Slezan Opava</a></strong>
                </td>
                <td>42</td>
                <td><strong>27</strong></td>
                <td>2</td>
                <td>5</td>
                <td><strong>8</strong></td>
                <td>203:104</td>
                <td>+99</td>
                <td>90</td>
              </tr>
              <tr>
                <td><strong>1.</strong></td>
                <td>
                  <strong><a href="#">HC Slezan Opava</a></strong>
                </td>
                <td>42</td>
                <td><strong>27</strong></td>
                <td>2</td>
                <td>5</td>
                <td><strong>8</strong></td>
                <td>203:104</td>
                <td>+99</td>
                <td>90</td>
              </tr>
              <tr class="slezan">
                <td><strong>1.</strong></td>
                <td>
                  <strong><a href="#">HC Slezan Opava</a></strong>
                </td>
                <td>42</td>
                <td><strong>27</strong></td>
                <td>2</td>
                <td>5</td>
                <td><strong>8</strong></td>
                <td>203:104</td>
                <td>+99</td>
                <td>90</td>
              </tr>
              <tr>
                <td><strong>1.</strong></td>
                <td>
                  <strong><a href="#">HC Slezan Opava</a></strong>
                </td>
                <td>42</td>
                <td><strong>27</strong></td>
                <td>2</td>
                <td>5</td>
                <td><strong>8</strong></td>
                <td>203:104</td>
                <td>+99</td>
                <td>90</td>
              </tr>
              <tr>
                <td><strong>1.</strong></td>
                <td>
                  <strong><a href="#">HC Slezan Opava</a></strong>
                </td>
                <td>42</td>
                <td><strong>27</strong></td>
                <td>2</td>
                <td>5</td>
                <td><strong>8</strong></td>
                <td>203:104</td>
                <td>+99</td>
                <td>90</td>
              </tr>
              <tr>
                <td><strong>1.</strong></td>
                <td>
                  <strong><a href="#">HC Slezan Opava</a></strong>
                </td>
                <td>42</td>
                <td><strong>27</strong></td>
                <td>2</td>
                <td>5</td>
                <td><strong>8</strong></td>
                <td>203:104</td>
                <td>+99</td>
                <td>90</td>
              </tr>
              <tr>
                <td><strong>1.</strong></td>
                <td>
                  <strong><a href="#">HC Slezan Opava</a></strong>
                </td>
                <td>42</td>
                <td><strong>27</strong></td>
                <td>2</td>
                <td>5</td>
                <td><strong>8</strong></td>
                <td>203:104</td>
                <td>+99</td>
                <td>90</td>
              </tr>
              <tr>
                <td><strong>1.</strong></td>
                <td>
                  <strong><a href="#">HC Slezan Opava</a></strong>
                </td>
                <td>42</td>
                <td><strong>27</strong></td>
                <td>2</td>
                <td>5</td>
                <td><strong>8</strong></td>
                <td>203:104</td>
                <td>+99</td>
                <td>90</td>
              </tr>
              <tr>
                <td><strong>1.</strong></td>
                <td>
                  <strong><a href="#">HC Slezan Opava</a></strong>
                </td>
                <td>42</td>
                <td><strong>27</strong></td>
                <td>2</td>
                <td>5</td>
                <td><strong>8</strong></td>
                <td>203:104</td>
                <td>+99</td>
                <td>90</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-lg-3">
        <ul class="c-statistics__descr">
          <li>
            <strong>#</strong> - číslo dresu v posledním zápase (pro případ, že
            by se měnilo)
          </li>
          <li><strong>Z</strong> - počet zápasů, v nichž hráč nastoupil</li>
          <li>
            <strong>Zač</strong> - počet zápasů, v nichž hráč nastoupil od
            začátku
          </li>
          <li><strong>Min</strong> - počet odchytaných minut</li>
          <li><strong>Stř</strong> - počet střel vyslaných na brankáře</li>
          <li><strong>Ink</strong> - počet inkasovaných gólů</li>
          <li><strong>Zás</strong> - počet zásahů</li>
          <li>
            <span>Prů</span> - průměr gólů na zápas ( = inkasované góly /
            minuty/60 )
          </li>
          <li><strong>Úsp</strong> - úspěšnost zásahů ( = zásahy / střely )</li>
          <li><strong>SO</strong> - shut-outy, vychytané nuly</li>
          <li><strong>A</strong> - asistence</li>
          <li><strong>TM</strong> - trestné minuty</li>
        </ul>
      </div>
    </div>
  </div>
</section>
