<section class="c-matches-section bg-dark py-8">
   <div class="container">
      <ul class="breadcrumbs">
         <li><a href="#">Homepage</a></li>
         <li><a href="#">A-tým</a></li>
         <li><span>Zápasy</span></li>
      </ul>
      <div class="header-section">
         <h1 class="h1">Zápasy</h1>
         <label class="o-select">
            <select class="js-select">
               <option>2021/22</option>
               <option value="">2020/21</option>
               <option value="">2019/20</option>
               <option value="">2018/19</option>
               <option value="">2017/18</option>
            </select>
          </label>
      </div>
      <div class="c-matches__inner">
         {% include "@components/match/match.twig" %}
         {% include "@components/match/match-2.twig" %}
         {% include "@components/match/match.twig" %}
         {% include "@components/match/match.twig" %}
         {% include "@components/match/match-3.twig" %}
         {% include "@components/match/match-2.twig" %}
         {% include "@components/match/match.twig" %}
         {% include "@components/match/match.twig" %}
         {% include "@components/match/match-2.twig" %}
         {% include "@components/match/match.twig" %}
         {% include "@components/match/match.twig" %}
         {% include "@components/match/match-3.twig" %}
         {% include "@components/match/match-2.twig" %}
         {% include "@components/match/match.twig" %}
      </div>
   </div>
</section>