<section class="c-partners-slider-section">
   <div class="container">
      <div class="header-section mb-7">
         <h4 class="h1">
            Partneři
         </h4>
         <span class="header-section__subtitle">děkujeme</span>
      </div>
      <div class="c-partners-slider-section__inner">
         <a href="#" target="_blank" class="partners-slider__item pe-3 ps-3 d-flex align-items-center">
            <img class="d-block m-auto" src="https://via.placeholder.com/185x140" loading="lazy" alt="" />
         </a>
         <a href="#" target="_blank" class="partners-slider__item pe-3 ps-3 d-flex align-items-center">
            <img class="d-block m-auto" src="https://via.placeholder.com/185x140" loading="lazy" alt="" />
         </a>
         <a href="#" target="_blank" class="partners-slider__item pe-3 ps-3 d-flex align-items-center">
            <img class="d-block m-auto" src="https://via.placeholder.com/185x140" loading="lazy" alt="" />
         </a>
         <a href="#" target="_blank" class="partners-slider__item pe-3 ps-3 d-flex align-items-center">
            <img class="d-block m-auto" src="https://via.placeholder.com/185x140" loading="lazy" alt="" />
         </a>
         <a href="#" target="_blank" class="partners-slider__item pe-3 ps-3 d-flex align-items-center">
            <img class="d-block m-auto" src="https://via.placeholder.com/185x140" loading="lazy" alt="" />
         </a>
         <a href="#" target="_blank" class="partners-slider__item pe-3 ps-3 d-flex align-items-center">
            <img class="d-block m-auto" src="https://via.placeholder.com/185x140" loading="lazy" alt="" />
         </a>
         <a href="#" target="_blank" class="partners-slider__item pe-3 ps-3 d-flex align-items-center">
            <img class="d-block m-auto" src="https://via.placeholder.com/185x140" loading="lazy" alt="" />
         </a>
         <a href="#" target="_blank" class="partners-slider__item pe-3 ps-3 d-flex align-items-center">
            <img class="d-block m-auto" src="https://via.placeholder.com/185x140" loading="lazy" alt="" />
         </a>
      </div>
   </div>
</section>