<section class="c-advertising-section">
   <div class="container">
      <div class="row g-6">
         <div class="col-sm-6">
            <a href="#">
               <img src="https://via.placeholder.com/600x240" loading="lazy" alt="" />
            </a>
         </div>
         <div class="col-sm-6">
            <a href="#">
               <img src="https://via.placeholder.com/600x240" loading="lazy" alt="" />
            </a>
         </div>
         <div class="col-sm-6">
            <a href="#">
               <img src="https://via.placeholder.com/600x240" loading="lazy" alt="" />
            </a>
         </div>
         <div class="col-sm-6">
            <a href="#">
               <img src="https://via.placeholder.com/600x240" loading="lazy" alt="" />
            </a>
         </div>
      </div>
   </div>
</section>