<div class="js-players-slider players-slider">
   {% include "@components/player/player.twig" %}
   {% include "@components/player/player.twig" %}
   {% include "@components/player/player.twig" %}
   {% include "@components/player/player.twig" %}
</div>