<section class="c-contacts-form pb-10">
  <div class="container-medium">
    <ul class="c-post-section__top">
      <li>Nábor</li>
      <li>Kontaktní formulář</li>
    </ul>
    <div class="o-content">
      <h1 class="h2">Kontaktní formulář</h1>
      <div class="c-contacts-form__inner mb-10">
        <form action="">
          <div class="row">
            <div class="col-md-6 col-12">
              <label for="">
                Jméno a příjmení:
                <input name="name" type="text" required />
              </label>
            </div>
            <div class="col-md-6 col-12">
              <label for="">
                E-mail:
                <input name="email" type="email" required />
              </label>
            </div>
            <div class="col-md-6 col-12">
              <label for="">
                Předmět zprávy
                <input type="text" />
              </label>
            </div>
            <div class="col-md-6 col-12">
              <label for="">
                Text zprávy
                <input type="text" />
              </label>
            </div>
            <button class="link link--border mx-auto">Odeslat</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
