<a href="#" class="player">
   <div class="player__img decorate">
      <img src="images/content/clanek-1.jpg" loading="lazy" alt="">
      <h3 class="h2">
         Klára
         <span>Hymlárová</span>
      </h3>
      <span class="player__number">32</span>
   </div>
</a>