<div class="history-slider">
  <div class="container">
    <div class="history-slider__row js-history-slider">
      <a class="history-slider__item" href="#">
        <div class="decorate">
          <div class="h4">
            Úspěchy mládeže i marné postupové snahy v 60. letech
          </div>
          <span>1961–1970</span>
        </div>
      </a>
      <a class="history-slider__item" href="#">
        <div class="decorate">
          <div class="h4">
            Úspěchy mládeže i marné postupové snahy v 60. letech
          </div>
          <span>1961–1970</span>
        </div>
      </a>
      <a class="history-slider__item" href="#">
        <div class="decorate">
          <div class="h4">
            Úspěchy mládeže i marné postupové snahy v 60. letech
          </div>
          <span>1961–1970</span>
        </div>
      </a>
      <a class="history-slider__item" href="#">
        <div class="decorate">
          <div class="h4">
            Úspěchy mládeže i marné postupové snahy v 60. letech
          </div>
          <span>1961–1970</span>
        </div>
      </a>
      <a class="history-slider__item" href="#">
        <div class="decorate">
          <div class="h4">
            Úspěchy mládeže i marné postupové snahy v 60. letech
          </div>
          <span>1961–1970</span>
        </div>
      </a>
      <a class="history-slider__item" href="#">
        <div class="decorate">
          <div class="h4">
            Úspěchy mládeže i marné postupové snahy v 60. letech
          </div>
          <span>1961–1970</span>
        </div>
      </a>
      <a class="history-slider__item" href="#">
        <div class="decorate">
          <div class="h4">
            Úspěchy mládeže i marné postupové snahy v 60. letech
          </div>
          <span>1961–1970</span>
        </div>
      </a>
      <a class="history-slider__item" href="#">
        <div class="decorate">
          <div class="h4">
            Úspěchy mládeže i marné postupové snahy v 60. letech
          </div>
          <span>1961–1970</span>
        </div>
      </a>
    </div>
  </div>
</div>
