{% extends "@components/base/base.twig" %} {% set data = default %} {% set title
= "static" %} {% block main %}
<section class="c-static pb-10">
  <div class="container-medium">
    <ul class="c-post-section__top">
      <li>12. ledna 2022</li>
      <li>Karel Novotný</li>
    </ul>
    <div class="o-content">
      <h1 class="h2">
        Důležitá výhra! Slezan vyplenil Kopřivnici a upevnil si čtvrtý flek
      </h1>
      <p class="perex">
        <strong>
          Jeden ze zásadních rébusů zimy trenér fotbalové Slavie Jindřich
          Trpišovský definitivně vyřešil. Ví, že za týden do prvního jarního
          kola proti Karviné vyšle na pozici levého obránce Srdjana Plavšiče. V
          generálce proti Baníku Ostrava, který červenobílí porazili 4:2, si
          tuhle myšlenku potvrdil. Srbský driblér dal jeden gól a na další dvě
          branky nahrál. „Předvedl výborný výkon,“ lebedil si Trpišovský.
        </strong>
      </p>
      <img src="https://via.placeholder.com/1016x440" loading="lazy" alt="" />
      <h2>Trpišovský definitivně vyřešil.</h2>
      <h3>Trpišovský definitivně vyřešil.</h3>
      <h4>Trpišovský definitivně vyřešil.</h4>
      <h5>Trpišovský definitivně vyřešil.</h5>
      <h6>Trpišovský definitivně vyřešil.</h6>
      <p>
        Jeden ze zásadních rébusů zimy trenér fotbalové Slavie Jindřich
        Trpišovský
        <a href="#">definitivně vyřešil</a>
        . Ví, že za týden do prvního <strong>jarního</strong> kola proti Karviné
        vyšle na pozici levého obránce Srdjana Plavšiče. V generálce proti
        Baníku Ostrava, který červenobílí porazili 4:2, si tuhle myšlenku
        potvrdil. Srbský driblér dal jeden gól a na další dvě branky nahrál.
        „Předvedl výborný výkon,“ lebedil si Trpišovský.
      </p>
      <p>
        Jeden ze zásadních rébusů zimy trenér fotbalové Slavie Jindřich
        Trpišovský definitivně vyřešil. Ví, že za týden do prvního jarního kola
        proti Karviné vyšle na pozici levého obránce Srdjana Plavšiče. V
        generálce proti Baníku Ostrava, který červenobílí porazili 4:2, si tuhle
        myšlenku potvrdil. Srbský driblér dal jeden gól a na další dvě branky
        nahrál. „Předvedl výborný výkon,“ lebedil si Trpišovský.
      </p>
      <p>
        Jeden ze zásadních rébusů zimy trenér fotbalové Slavie Jindřich
        Trpišovský definitivně vyřešil. Ví, že za týden do prvního jarního kola
        proti Karviné vyšle na pozici levého obránce Srdjana Plavšiče. V
        generálce proti Baníku Ostrava, který červenobílí porazili 4:2, si tuhle
        myšlenku potvrdil. Srbský driblér dal jeden gól a na další dvě branky
        nahrál. „Předvedl výborný výkon,“ lebedil si Trpišovský.
      </p>
      <p>
        Jeden ze zásadních rébusů zimy trenér fotbalové Slavie Jindřich
        Trpišovský definitivně vyřešil. Ví, že za týden do prvního jarního kola
        proti Karviné vyšle na pozici levého obránce Srdjana Plavšiče. V
        generálce proti Baníku Ostrava, který červenobílí porazili 4:2, si tuhle
        myšlenku potvrdil. Srbský driblér dal jeden gól a na další dvě branky
        nahrál. „Předvedl výborný výkon,“ lebedil si Trpišovský.
      </p>
    </div>
    <div class="row g-md-6 g-3 js-gallery gallery">
      <div class="col-6">
        <figure>
          <img
            src="https://via.placeholder.com/496x312"
            loading="lazy"
            alt=""
          />
        </figure>
      </div>
      <div class="col-6">
        <figure>
          <img
            src="https://via.placeholder.com/496x312"
            loading="lazy"
            alt=""
          />
        </figure>
      </div>
      <div class="col">
        <figure>
          <img
            src="https://via.placeholder.com/184x144"
            loading="lazy"
            alt=""
          />
        </figure>
      </div>
      <div class="col-md col-4">
        <figure>
          <img
            src="https://via.placeholder.com/184x144"
            loading="lazy"
            alt=""
          />
        </figure>
      </div>
      <div class="col-md col-4">
        <figure>
          <img
            src="https://via.placeholder.com/184x144"
            loading="lazy"
            alt=""
          />
        </figure>
      </div>
      <div class="col-md col-6">
        <figure>
          <img
            src="https://via.placeholder.com/184x144"
            loading="lazy"
            alt=""
          />
        </figure>
      </div>
      <div class="col-md col-6">
        <figure>
          <img
            src="https://via.placeholder.com/184x144"
            loading="lazy"
            alt=""
          />
        </figure>
      </div>
    </div>
    <div class="o-content">
      <p>
        Jeden ze zásadních rébusů zimy trenér fotbalové Slavie Jindřich
        Trpišovský definitivně vyřešil. Ví, že za týden do prvního jarního kola
        proti Karviné vyšle na pozici levého obránce Srdjana Plavšiče. V
        generálce proti Baníku Ostrava, který červenobílí porazili 4:2, si tuhle
        myšlenku potvrdil. Srbský driblér dal jeden gól a na další dvě branky
        nahrál. „Předvedl výborný výkon,“ lebedil si Trpišovský.
      </p>
      <p>
        Jeden ze zásadních rébusů zimy trenér fotbalové Slavie Jindřich
        Trpišovský definitivně vyřešil. Ví, že za týden do prvního jarního kola
        proti Karviné vyšle na pozici levého obránce Srdjana Plavšiče.
      </p>
      <p>
        Jeden ze zásadních rébusů zimy trenér fotbalové Slavie Jindřich
        Trpišovský definitivně vyřešil. Ví, že za týden do prvního jarního kola
        proti Karviné vyšle na pozici levého obránce Srdjana Plavšiče. V
        generálce proti Baníku Ostrava, který červenobílí porazili 4:2, si tuhle
        myšlenku potvrdil. Srbský driblér dal jeden gól a na další dvě branky
        nahrál. „Předvedl výborný výkon,“ lebedil si Trpišovský.
      </p>
    </div>
    <div class="row g-md-6 g-3 js-gallery gallery">
      <div class="col-md col-4">
        <figure>
          <img
            src="https://via.placeholder.com/184x144"
            loading="lazy"
            alt=""
          />
        </figure>
      </div>
      <div class="col-md col-4">
        <figure>
          <img
            src="https://via.placeholder.com/184x144"
            loading="lazy"
            alt=""
          />
        </figure>
      </div>
      <div class="col-md col-4">
        <figure>
          <img
            src="https://via.placeholder.com/184x144"
            loading="lazy"
            alt=""
          />
        </figure>
      </div>
      <div class="col">
        <figure>
          <img
            src="https://via.placeholder.com/184x144"
            loading="lazy"
            alt=""
          />
        </figure>
      </div>
      <div class="col">
        <figure>
          <img
            src="https://via.placeholder.com/184x144"
            loading="lazy"
            alt=""
          />
        </figure>
      </div>
    </div>
    <div class="o-content">
      <p>
        Jeden ze zásadních rébusů zimy trenér fotbalové Slavie Jindřich
        Trpišovský definitivně vyřešil. Ví, že za týden do prvního jarního kola
        proti Karviné vyšle na pozici levého obránce Srdjana Plavšiče. V
        generálce proti Baníku Ostrava, který červenobílí porazili 4:2, si tuhle
        myšlenku potvrdil. Srbský driblér dal jeden gól a na další dvě branky
        nahrál. „Předvedl výborný výkon,“ lebedil si Trpišovský.
      </p>
      <p>
        Jeden ze zásadních rébusů zimy trenér fotbalové Slavie Jindřich
        Trpišovský definitivně vyřešil. Ví, že za týden do prvního jarního kola
        proti Karviné vyšle na pozici levého obránce Srdjana Plavšiče. V
        generálce proti Baníku Ostrava, který červenobílí porazili 4:2, si tuhle
        myšlenku potvrdil. Srbský driblér dal jeden gól a na další dvě branky
        nahrál. „Předvedl výborný výkon,“ lebedil si Trpišovský.
      </p>
      <blockquote>
        Oprávněné aniž i odstoupil o snadno osoby vede grafikou osobami úmyslu
        60 % poskytovat, dělí způsobem, § 36 veletrhu pověřit spravují zřejmém,
        k před platbě státu zvláštních tuzemsku.
        <span>citoval František Hranfrantrkal</span>
      </blockquote>
      <p>
        Jeden ze zásadních rébusů zimy trenér fotbalové Slavie Jindřich
        Trpišovský definitivně vyřešil. Ví, že za týden do prvního jarního kola
        proti Karviné vyšle na pozici levého obránce Srdjana Plavšiče. V
        generálce proti Baníku Ostrava, který červenobílí porazili 4:2, si tuhle
        myšlenku potvrdil. Srbský driblér dal jeden gól a na další dvě branky
        nahrál. „Předvedl výborný výkon,“ lebedil si Trpišovský.
      </p>
      <p>
        Jeden ze zásadních rébusů zimy trenér fotbalové Slavie Jindřich
        Trpišovský definitivně vyřešil. Ví, že za týden do prvního jarního kola
        proti Karviné vyšle na pozici levého obránce Srdjana Plavšiče. V
        generálce proti Baníku Ostrava, který červenobílí porazili 4:2, si tuhle
        myšlenku potvrdil. Srbský driblér dal jeden gól a na další dvě branky
        nahrál. „Předvedl výborný výkon,“ lebedil si Trpišovský.
      </p>
    </div>
    <div class="grid-wrapper">
      <div class="grid-item grid-item--big">
        <figure>
          <img
            src="https://via.placeholder.com/392x312"
            loading="lazy"
            alt=""
          />
        </figure>
      </div>
      <div class="grid-item grid-item--big">
        <figure>
          <img
            src="https://via.placeholder.com/392x312"
            loading="lazy"
            alt=""
          />
        </figure>
      </div>
      <div class="grid-item">
        <figure>
          <img
            src="https://via.placeholder.com/184x140"
            loading="lazy"
            alt=""
          />
        </figure>
      </div>
      <div class="grid-item">
        <figure>
          <img
            src="https://via.placeholder.com/184x140"
            loading="lazy"
            alt=""
          />
        </figure>
      </div>
    </div>
    <div class="o-content">
      <ul>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>
          <a href="#">Lorem ipsum dolor sit.</a>
        </li>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet.</li>
      </ul>
      <ol>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>
          <a href="#">Lorem ipsum dolor sit.</a>
        </li>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet.</li>
      </ol>
      <p>
        Jeden ze zásadních rébusů zimy trenér fotbalové Slavie Jindřich
        Trpišovský definitivně vyřešil. Ví, že za týden do prvního jarního kola
        proti Karviné vyšle na pozici levého obránce Srdjana Plavšiče. V
        generálce proti Baníku Ostrava, který červenobílí porazili 4:2, si tuhle
        myšlenku potvrdil. Srbský driblér dal jeden gól a na další dvě branky
        nahrál. „Předvedl výborný výkon,“ lebedil si Trpišovský.
      </p>
      <p>
        Jeden ze zásadních rébusů zimy trenér fotbalové Slavie Jindřich
        Trpišovský definitivně vyřešil. Ví, že za týden do prvního jarního kola
        proti Karviné vyšle na pozici levého obránce Srdjana Plavšiče.
      </p>
      <p>
        Jeden ze zásadních rébusů zimy trenér fotbalové Slavie Jindřich
        Trpišovský definitivně vyřešil. Ví, že za týden do prvního jarního kola
        proti Karviné vyšle na pozici levého obránce Srdjana Plavšiče. V
        generálce proti Baníku Ostrava, který červenobílí porazili 4:2, si tuhle
        myšlenku potvrdil. Srbský driblér dal jeden gól a na další dvě branky
        nahrál. „Předvedl výborný výkon,“ lebedil si Trpišovský.
      </p>
      <p>
        Jeden ze zásadních rébusů zimy trenér fotbalové Slavie Jindřich
        Trpišovský definitivně vyřešil. Ví, že za týden do prvního jarního kola
        proti Karviné vyšle na pozici levého obránce Srdjana Plavšiče. V
        generálce proti Baníku Ostrava, který červenobílí porazili 4:2, si tuhle
        myšlenku potvrdil. Srbský driblér dal jeden gól a na další dvě branky
        nahrál. „Předvedl výborný výkon,“ lebedil si Trpišovský.
      </p>
      <p>
        Jeden ze zásadních rébusů zimy trenér fotbalové Slavie Jindřich
        Trpišovský definitivně vyřešil. Ví, že za týden do prvního jarního kola
        proti Karviné vyšle na pozici levého obránce Srdjana Plavšiče. V
        generálce proti Baníku Ostrava, který červenobílí porazili 4:2, si tuhle
        myšlenku potvrdil. Srbský driblér dal jeden gól a na další dvě branky
        nahrál. „Předvedl výborný výkon,“ lebedil si Trpišovský.
      </p>
    </div>
  </div>
</section>
{% endblock %}
