{% extends "@components/base/base.twig" %} {% set data = default %} {% set title
= "Článek" %} {% block main %}
<section class="c-post-section pb-10">
  <div class="container-medium">
    <ul class="c-post-section__top">
      <li class="link"><strong>1908-1945</strong></li>
    </ul>
    <div class="o-content">
      <h1 class="h2">Doba předválečná a válečná: slavný Troppauer EV</h1>
      <img
        class="w-100"
        src="images/content/historie.jpeg"
        loading="lazy"
        alt=""
      />
      <p>
        Píše se rok 1931 a centrum českého Slezska Opava zažívá dokonalý boom
        zimních sportů. Přírodní podmínky jsou v dobách počínající hospodářské
        krize pro bruslení ideální a místní bruslařský spolek toho náležitě
        využívá. Velkou popularitu má nejen hokej, ale i krasobruslení, před
        třemi lety hostilo město, ve kterém vedle sebe vcelku poklidně žijí Češi
        i Němci, dokonce mistrovství Evropy v krasobruslení! A právě v roce 1931
        se místní hokejový klub Troppauer EV jako mistr německého hokejového
        svazu v Československu vydal do Prahy vyzvat mistra svazu českého, tehdy
        nepřekonatelný tým LTC!
      </p>
      <p>
        Přestože Opava na LTC, které jako první klub u nás mohlo využívat výhod,
        které skýtá vlastní stadion s umělým ledem, tehdy nestačila a prohrála
        0:2, zanechala velmi dobrý dojem a její hráči Dorasil, Lichnofsky,
        Mattern a Heinz byli zařazeni do československého národního týmu.
      </p>
      <p>
        Tým opavských Němců navazoval na tradici opavského bruslařského klubu,
        který se zimním radovánkám na ledě začal věnovat už v polovině 19.
        století. Přírodní kluziště již tehdy stálo na místě dnešního zimního
        stadionu a v roce 1885 mělo rozměry 50 x 240 m. Na začátku dvacátého
        století byla zvětšena kapacita šaten Opava získala architektonicky
        zajímavý objekt, využívaný nejen v zimě, ale také v létě jako koupaliště
        a prostor pro projížďky na loďkách.
      </p>
      <p>
        Zahnuté hole a gumový kroužek opavský led poprvé okusil v roce 1908.
        Eislauf Verein se vypracoval do pozice nejlepšího německého týmu v
        Československu a opavští diváci měli možnost několikrát spatřit
        exhibiční utkání s kanadskými a americkými mužstvy. Opavští Němci sice
        při zakládání Čsl. svazu ledního hokeje v roce 1928 se svým začleněním
        do něj nespěchali, ale po výstraze od Mezinárodní hokejové federace
        poslechli, za což jim odměnou byla již zmíněná účast jejich nejlepších
        špílerů v československé reprezentaci.
      </p>
      <p>
        Opavský klub nechyběl ani v prvních dvou regulérních ročnících
        Československé ligy. Zatímco v sezóně 1936-37 vybojoval pěkné šesté
        místo, o rok později jej limitovalo pořádání dalšího evropského
        krasobruslařského šampionátu, který dostal na opavském ledě přednost, a
        také vlastní střelecká nemohoucnost, tým nedal v lize ani gól. Omluvou
        mu budiž fakt, že sehrál pouze čtyři utkání.
      </p>
    </div>
  </div>
</section>
{% include "@components/partners-slider-section/partners-slider-section.twig" %}
{% endblock %}
