<section class="c-topstory-section">
   <div class="row m-0">
      <div class="c-topstory-section__item">
         <a class="c-topstory-section__img" href="#">
            <img src="images/content/clanek-1.jpg" loading="lazy" alt="clanek-1">
            <div class="c-topstory-section__info">
               <h1 class="h2">
                  Skvělá zpráva! Klára Hymlárová si zahraje na olympiádě
               </h1>
               <div class="link link--arrow">Celý článek</div>
            </div>
         </a>
      </div>
      <div class="c-topstory-section__item active">
         <a class="c-topstory-section__img" href="#">
            <img src="images/content/clanek-2.jpg" loading="lazy" alt="clanek-2">
            <div class="c-topstory-section__info">
               <h2 class="h2">
                  Důležitá výhra! Slezan vyplenil Kopřivnici a upevnil si čtvrtý flek
               </h2>
               <div class="link link--arrow">Celý článek</div>
            </div>
         </a>
      </div>
      <div class="c-topstory-section__item">
         <a class="c-topstory-section__img" href="#">
            <img src="images/content/clanek-3.jpg" loading="lazy" alt="clanek-3">
            <div class="c-topstory-section__info">
               <h2 class="h2">
                  V neoblíbené Kopřivnici se Slezan může přiblížit play-off
               </h2>
               <div class="link link--arrow">Celý článek</div>
            </div>
         </a>
      </div>
   </div>
</section>