<section class="c-gallery-section">
  <div class="c-gallery-section__inner">
    <div class="container">
      <h1 class="h1 mb-10">Fotogalerie</h1>
      <div class="grid-container" id="lightgallery">
        <a class='grid-item' data-gallery="1" data-gallery-id="1"  href="#">
          <img loading="lazy"  src='images/content/foto-4.jpg' alt=''>
          <p>1. kolo: Opava – Kometa B 1:0</p>
        </a>
        <a class='grid-item' data-gallery="1" data-gallery-id="1"  href="#">
          <img loading="lazy"  src='images/content/foto-3.jpg' alt=''>
          <p>1. kolo: Opava – Kometa B 1:0</p>
        </a>
        <a class='grid-item' data-gallery="1" data-gallery-id="1"  href="#">
          <img loading="lazy"  src='images/content/foto-2.jpg' alt=''>
          <p>1. kolo: Opava – Kometa B 1:0</p>
        </a>
        <a class='grid-item' data-gallery="1" data-gallery-id="1"  href="#">
          <img loading="lazy"  src='images/content/foto-1.jpg' alt=''>
          <p>1. kolo: Opava – Kometa B 1:0</p>
        </a>
        <a class='grid-item' data-gallery="1" data-gallery-id="1"  href="#">
          <img loading="lazy"  src='images/content/foto-4.jpg' alt=''>
          <p>1. kolo: Opava – Kometa B 1:0</p>
        </a>
        <a class='grid-item' data-gallery="1" data-gallery-id="1"  href="#">
          <img loading="lazy"  src='images/content/foto-3.jpg' alt=''>
          <p>1. kolo: Opava – Kometa B 1:0</p>
        </a>
        <a class='grid-item' data-gallery="1" data-gallery-id="1"  href="#">
          <img loading="lazy"  src='images/content/foto-2.jpg' alt=''>
          <p>1. kolo: Opava – Kometa B 1:0</p>
        </a>
        <a class='grid-item' data-gallery="1" data-gallery-id="1"  href="#">
          <img loading="lazy"  src='images/content/foto-1.jpg' alt=''>
          <p>1. kolo: Opava – Kometa B 1:0</p>
        </a>
        <a class='grid-item' data-gallery="1" data-gallery-id="1"  href="#">
          <img loading="lazy"  src='images/content/foto-4.jpg' alt=''>
          <p>1. kolo: Opava – Kometa B 1:0</p>
        </a>
        <a class='grid-item' data-gallery="1" data-gallery-id="1"  href="#">
          <img loading="lazy"  src='images/content/foto-3.jpg' alt=''>
          <p>1. kolo: Opava – Kometa B 1:0</p>
        </a>
        <a class='grid-item' data-gallery="1" data-gallery-id="1"  href="#">
          <img loading="lazy"  src='images/content/foto-2.jpg' alt=''>
          <p>1. kolo: Opava – Kometa B 1:0</p>
        </a>
        <a class='grid-item' data-gallery="1" data-gallery-id="1"  href="#">
          <img loading="lazy"  src='images/content/foto-1.jpg' alt=''>
          <p>1. kolo: Opava – Kometa B 1:0</p>
        </a>
        <a class='grid-item' data-gallery="1" data-gallery-id="1"  href="#">
          <img loading="lazy"  src='images/content/foto-4.jpg' alt=''>
          <p>1. kolo: Opava – Kometa B 1:0</p>
        </a>
        <a class='grid-item' data-gallery="1" data-gallery-id="1"  href="#">
          <img loading="lazy"  src='images/content/foto-3.jpg' alt=''>
          <p>1. kolo: Opava – Kometa B 1:0</p>
        </a>
        <a class='grid-item' data-gallery="1" data-gallery-id="1"  href="#">
          <img loading="lazy"  src='images/content/foto-2.jpg' alt=''>
          <p>1. kolo: Opava – Kometa B 1:0</p>
        </a>
        <a class='grid-item' data-gallery="1" data-gallery-id="1"  href="#">
          <img loading="lazy"  src='images/content/foto-1.jpg' alt=''>
          <p>1. kolo: Opava – Kometa B 1:0</p>
        </a>
        <a class='grid-item' data-gallery="1" data-gallery-id="1"  href="#">
          <img loading="lazy"  src='images/content/foto-4.jpg' alt=''>
          <p>1. kolo: Opava – Kometa B 1:0</p>
        </a>
        <a class='grid-item' data-gallery="1" data-gallery-id="1"  href="#">
          <img loading="lazy"  src='images/content/foto-3.jpg' alt=''>
          <p>1. kolo: Opava – Kometa B 1:0</p>
        </a>
        <a class='grid-item' data-gallery="1" data-gallery-id="1"  href="#">
          <img loading="lazy"  src='images/content/foto-2.jpg' alt=''>
          <p>1. kolo: Opava – Kometa B 1:0</p>
        </a>
        <a class='grid-item' data-gallery="1" data-gallery-id="1"  href="#">
          <img loading="lazy"  src='images/content/foto-1.jpg' alt=''>
          <p>1. kolo: Opava – Kometa B 1:0</p>
        </a>
        <a class='grid-item' data-gallery="1" data-gallery-id="1"  href="#">
          <img loading="lazy"  src='images/content/foto-4.jpg' alt=''>
          <p>1. kolo: Opava – Kometa B 1:0</p>
        </a>
        <a class='grid-item' data-gallery="1" data-gallery-id="1"  href="#">
          <img loading="lazy"  src='images/content/foto-3.jpg' alt=''>
          <p>1. kolo: Opava – Kometa B 1:0</p>
        </a>
        <a class='grid-item' data-gallery="1" data-gallery-id="1"  href="#">
          <img loading="lazy"  src='images/content/foto-2.jpg' alt=''>
          <p>1. kolo: Opava – Kometa B 1:0</p>
        </a>
        <a class='grid-item' data-gallery="1" data-gallery-id="1"  href="#">
          <img loading="lazy"  src='images/content/foto-1.jpg' alt=''>
          <p>1. kolo: Opava – Kometa B 1:0</p>
        </a>
        <a class='grid-item' data-gallery="1" data-gallery-id="1"  href="#">
          <img loading="lazy"  src='images/content/foto-4.jpg' alt=''>
          <p>1. kolo: Opava – Kometa B 1:0</p>
        </a>
        <a class='grid-item' data-gallery="1" data-gallery-id="1"  href="#">
          <img loading="lazy"  src='images/content/foto-3.jpg' alt=''>
          <p>1. kolo: Opava – Kometa B 1:0</p>
        </a>
        <a class='grid-item' data-gallery="1" data-gallery-id="1"  href="#">
          <img loading="lazy"  src='images/content/foto-2.jpg' alt=''>
          <p>1. kolo: Opava – Kometa B 1:0</p>
        </a>
        <a class='grid-item' data-gallery="1" data-gallery-id="1"  href="#">
          <img loading="lazy"  src='images/content/foto-1.jpg' alt=''>
          <p>1. kolo: Opava – Kometa B 1:0</p>
        </a>
      </div>
   </div>
   <button id="load-more" class="link link--border">Další fotografie</button> 
  </div>
</section>